.course_day{
    background-color: #2c2c2c;
    height: 10vh;
    width: 50%;
    margin: -3vh 25% 0 25% ;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 1vh;
}

.styled-iframe{
    /* border: 1px solid red; */
    width: 70%;
    height: 60vh;
    margin:  5vh 15% 0 15%;
}

@media screen and (max-width: 768px) {
    .course_day{
        margin: 2.5vh 5% 0 5% ;
        width: 90%;
        height: 8vh;
        font-size: 2vh;
        border-radius: 1vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .course_day p{
        /* border: 1px solid red; */
        margin: 0;
    }

    .styled-iframe{
        width: 80%;
        height: 40vh;
        margin:  5vh 10% 0 10%;
    }
}